@import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/owl.carousel/src/scss/owl.carousel';
@import './node_modules/owl.carousel/src/scss/owl.theme.default';

@import './node_modules/bootstrap/scss/variables';

@import './app/lnr';

$navbar-clearance: 20px;
$sidebar-width: 150px;

body { position: relative; }


// Structure
.button {
    position: fixed;
    width: 50%;
    height: 100%;
    z-index: 100;
    top: 0;
    &.walk { left: 0; background: rgba(#000, 0.4) }
    &.jump { right: 0; background: rgba(#000, 0.4) }
}

#map {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    .victim_mark {
        text-align: center;
        background: #FFF;
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }
}