<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Vibration <small>Graph</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="">Vibration</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-narrow">
    <!-- Chart.js Charts (initialized in js/controllers.js -> CompChartsCtrl Controller), for more examples you can check out http://www.chartjs.org/docs/ -->
    <h2 class="content-heading">Chart.js</h2>
    <div class="row">
        <div class="col-lg-6">
            <!-- Lines Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Lines</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <!-- Lines Chart Container -->
                    <div style="height: 330px;"><canvas class="js-chartjs-lines"></canvas></div>
                </div>
            </div>
            <!-- END Lines Chart -->
        </div>
        <div class="col-lg-6">
            <!-- Bars Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Bars</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <!-- Bars Chart Container -->
                    <div style="height: 330px;"><canvas class="js-chartjs-bars"></canvas></div>
                </div>
            </div>
            <!-- END Bars Chart -->
        </div>
        <div class="col-lg-12">
            <!-- Radar Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Radar</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <!-- Radar Chart Container -->
                    <div style="height: 330px;"><canvas class="js-chartjs-radar"></canvas></div>
                </div>
            </div>
            <!-- END Radar Chart -->
        </div>
    </div>
    <!-- END Chart.js Charts -->

    <!-- Flot Charts (initialized in js/controllers.js -> CompChartsCtrl Controller), for more examples you can check out http://www.flotcharts.org/flot/examples -->
    <h2 class="content-heading">Flot Charts</h2>
    <div class="row">
        <div class="col-lg-6">
            <!-- Lines Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Lines</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Lines Chart Container -->
                    <div class="js-flot-lines" style="height: 330px;"></div>
                </div>
            </div>
            <!-- END Lines Chart -->
        </div>
        <div class="col-lg-6">
            <!-- Stacked Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Stacked</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Stacked Chart Container -->
                    <div class="js-flot-stacked" style="height: 330px;"></div>
                </div>
            </div>
            <!-- END Stacked Chart -->
        </div>
        <div class="col-lg-12">
            <!-- Live Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="js-flot-live-info text-info font-w700"></span>
                        </li>
                        <li>
                            <span><i class="fa fa-refresh fa-spin text-muted"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Live</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Live Chart Container -->
                    <div class="js-flot-live" style="height: 360px;"></div>
                </div>
            </div>
            <!-- END Live Chart -->
        </div>

     
    </div>
    <!-- END Flot Charts -->
</div>
<!-- END Page Content -->